<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="icon" href="/images/weather-icon2.png">
    <link rel='stylesheet' href='/css/styles.css' />
    <script src='/js/script.js' defer></script>
    <title>Weather HBS</title>
  </head>
  <body>
    <div class="app">
      {{>header}}
      <div class="form--weather">

        <form action="">
          <input id="address" type="search" placeholder="Location, ex. Toronto"/>
          <button id="submit" class="btn--search" type="submit">Search</button>
        </form>
      </div>
      <div id="weather-output" class="weather--output">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
      {{>footer}}
    </div>
  </body>
</html>